/* .my-box {
  padding: 1rem;
  border: 3px solid black;
  margin: 1rem 2rem 3rem 4rem;
  display: inline-block;
}
* {
  box-sizing: border-box;
}

.first-box {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
}
/* hiding the box still keeps its place */

.my-box {
  display: inline-block;
  border: solid 3px black;
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 48%;
}
.first-box:hover {
  background-color: red;
}

* {
  box-sizing: border-box;
}

.second-box:hover {
  background-color: blue;
}

/* div:nth-child(2):hover {
  background-color: blue;
}  */

body,
main,
html {
  height: 100%;
  scroll-behavior: smooth;
}

p.active {
  background: red;
}

p .active {
  background: blue;
}
