.my-box {
  padding: 1rem 0.5rem 2rem 3rem;
  border: 3px solid black;
  margin: 1rem 2rem 3rem 4rem;
  display: inline-block;
}

.first-box {
  height: 300px;
  width: 50%;
  visibility: hidden; 
  
}
/* hiding the box still keeps its place */

div:nth-child(2):hover {
  background-color: blue;
}

body,
main,
html {
  height: 100%;
}
